<div class="row">
    <div class="col-md-8">
        <div ng-if="!pokemonListLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>
        <div class="list-group" ng-if="pokemonListLoaded">
            <div class="list-group-item" ng-repeat="singlePokemon in pokemons">
                <h4>
                    <a href="#!/pokemons/{{singlePokemon.objectId }}">
                        {{singlePokemon.name | uppercase }}</a>
                </h4>
                <a href="#!/pokemons/edit/{{singlePokemon.objectId }}" class="list-group-item">Edit</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div ng-if="!berriesListLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>
        <div class="list-group" ng-if="berriesListLoaded">
            <div class="list-group-item" ng-repeat="singleBerry in berries">

                <h4>
                    {{singleBerry.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
</div>
</div>